/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto,sans-serif'); */

*,
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}
